@media (min-width: 1000px) {
    .search-container {
        height: 450px;
    }
}
.search-container {
    border: 1px solid black;
    margin: 10px 0;
    overflow: hidden;
}
.search-container img {
    width: 100%;
}
.info-container {
    padding:10px;
}
.info-container div {
    text-align: justify;
    word-break: break-all;
}