#errorDiv {
    height: 30px;
    width: 100%;
}
#error-container {
    border-radius: 2px;
    background-color: rgba(209,34,29,0.67);
    display: none;
    font-size: 15px;
    text-align: center;
    text-transform: none;
}
#errorDiv p {
    line-height: 30px;
    width: 100%;
}

#popError img {
    position: relative;
    left: 20%;
    display: inline-block;
    width: 200px;
}