footer {
    background-image: url("/assets/img/pw_maze_black_@2X.png");
    min-height: 150px;
    padding: 30px 50px;
    position: absolute;
    bottom: -200px;
    width: 100%;
}

footer p {
    color: #9d9d9d;
    display: inline-block;
    margin: 20px 0;
}

footer ul {
    width: 70%;
}

footer .nav-pills a {
    color: #fff;
    font-size: 22px;
}

footer .nav-pills a:hover {
    background-color: rgba(243, 234, 201, 0.4);
    color: black;
}

footer .nav-pills .active a:hover {
    background-color: rgba(243, 234, 201, 0.4);
    color: black;
}

footer .nav-pills .active a {
    background-color: rgba(243, 234, 201, 0.4);
}

footer #social-media {
    padding-top: 15px;
}

footer #social-media a:first-of-type {
    background-color: #3b5998;
}

footer #social-media a:nth-of-type(2) {
    background-color: #9AD4FF;
}

footer #social-media a:nth-of-type(3) {
    background-color: #FF5E76;
}