.owl-carousel .item {
    height: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.owl-carousel .item > img {
    margin: auto;
    height: 100%;
    border-radius: 5px;
}
@media only screen and (max-width: 767px) {
    .owl-carousel .item > img {
        width: 200px;
        border-radius: 5px;
    }
}
.home-section {
    width: 100%;
    padding: 20px;
}
.home-section h1{
    border-bottom: 1px solid #cccccc;
    padding-left: 20px;
    margin-bottom: 40px;
    width: 99%;
}
.home-section img {
    float: left;
    margin-right: 45px;
    margin-bottom: 45px;
    width: 250px;
}
.home-section p {
    text-align: justify;
    font-size: 18px;
}
.some-wrapper {
    overflow: auto;
    margin-bottom: 20px;
}
.comment-wrapper {
    display: block;
    margin: auto;
    width: 80%;
}
#comment-input {
    height: 100px;
    padding-left: 10px;
    width: 100%;
}
#comment-button {
    display: block;
}
#comment-container {
    margin: 20px auto;
    width: 80%;
}
.comment-box {
    font-size: 16px;
    margin-bottom: 20px;
}
.comment-info {
    border-bottom: 1px solid #cccccc;
    color: #8c8c8c;
}
.comment-info span:last-child {
    float: right;
}
