@media (min-width: 768px) {
    #carousel-wrapper {
        height: 400px;
    }
}

.owl-carousel .item {
    background-color: rgba(230,214,17,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.owl-carousel .item > img {
    height: 320px;
    border-radius: 5px;
}
@media only screen and (max-width: 1025px) {
    .owl-carousel .item > img {
        height: auto;
        border-radius: 5px;
    }
}

.home-section {
    width: 100%;
    padding: 20px;
}
.home-section h1{
    border-bottom: 1px solid #cccccc;
    padding-left: 20px;
    margin-bottom: 40px;
    width: 99%;
}
.home-section img {
    float: left;
    margin-right: 45px;
    width: 20%;
}
.home-section p {
    text-align: justify;
    font-size: 18px;
}
.some-wrapper {
    height: 450px;
}