.owl-carousel .item {
    background-color: rgba(230,214,17,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.owl-carousel .item > img {
    height: 320px;
    border-radius: 5px;
}
@media only screen and (max-width: 1025px) {
    .owl-carousel .item > img {
        height: auto;
        border-radius: 5px;
    }
}