.loading {
    background-image: url("/assets/img/skulls.png");
}

.loaded {
    background-image: url("/assets/img/skulls.png");
}
.loader {
    display: none;
 }
.loaderout {
    display: block;
}

.hop {
    -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s reverse both;
    -moz-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s reverse both;
    animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.5s reverse both;
    position: relative;
    left: 400px;
    color:black;
}
@-webkit-keyframes tracking-in-expand{
    0%{letter-spacing:-.5em;opacity:0}
    40%{opacity:.6}100%{opacity:1}
}
@keyframes tracking-in-expand{
    0%{letter-spacing:-.5em;opacity:0}
    40%{opacity:.6}
    100%{opacity:1}
}