/* some fundamental css here or nothing */
@font-face {
    font-family: Righteous;
    src: url(/libs/fonts/Righteous/Righteous-Regular.ttf);
}
body {
    font-family: Righteous, sans-serif;
    background-image: url("/assets/img/skulls.png");
    /*background-color: #cccccc;*/
}

